/*
*@Author Crescent
*公用module
*/
/*module-navigation*/
.index-icons{background:url(../images/index-icons.png) no-repeat ;}
.add{height:16px;width:16px;background-position:0 0;}
.left-arrow{height:18px;width:18px;background-position:-16px 0;}
.down{display:inline-block;height:15px;width:20px;background-position:-34px 0;}
.message{display:inline-block;height:29px;width:25px;background-position:-54px 0;}
.settings{display:inline-block;height:29px;width:29px;background-position:-79px 0;}
.logo{position: absolute;top:0px;height:81px;width:83px;background-position:-108px 0;z-index:10;}
.logo-header{
    position: relative;
    display: inline-block;
    width: 83px;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
}
.nav-container{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #135480;
    box-shadow:0px 2px 10px 0px rgba(0,0,0,0.50);
    z-index:10;
}
.nav-wrapper{
    width: 980px;
    margin: 0 auto;
    color: #fff;
}
.nav{
    display: inline-block;
}
.nav>ul>li{
    float: left;
    display: inline-block;
    height: 50px;
    margin-right: 27px;
    font-size: 18px;
    line-height: 3;
    color: #fff;
}
.nav>ul>li:first-of-type{
    margin-left: 21px;
}
.nav-item{
    position: relative;
    display: inline-block;
    z-index:10;
}
.info{
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    height: 50px;
    line-height: 2;
    float: right;
}
.info-name{
    font-size: 24px;
    margin-right: 32px;
}
.info span:nth-child(n+1){
    margin-right: 21px;
}
.sub-nav{
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    width: 100%;
    height: 50px;
    background-color: #063758;
    box-shadow:0px 2px 10px 0px rgba(0,0,0,0.50);
}
.sub-nav-content{
    margin-left: 110px;
}
.sub-nav-content>ul{
   display: flex;
    align-items: center;
    height: 50px;
}
.sub-nav-content>ul>li{
    position:relative;
    color: #fff;
    font-size: 18px;
    flex-basis: 97px;
    text-align: center;
}
.nav-line{
    position: absolute;
    display: none;
    width: 100%;
    height: 3px;
    bottom: 1px;
    left: 0px;
    background-color: #fff;
}
.nav-triangle{
    display: none;
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: -10px;
    left: 30px;
    border: 7px solid ;
    border-color: #fff transparent transparent transparent;
    text-align: center;
}
.current {
    display: block;
}

/*module  tab-title*/
.tab-container{
    width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tab-box{
    background:#ffffff;
    box-shadow:0px 2px 6px 0px rgba(0,0,0,0.40);
    border-radius:3px;
}
.tab-title{
    display: flex;
    align-items: center;
    width:820px;
    height:40px;
    margin: 72px 0 14px 0;
}
.tab-title-arrow{
    display: inline-block;
    margin: 0 16px;
}
.tab-title-font{
    font-size: 17px;
    color: #135480;
    font-weight: 600;
}
/*module input*/
.input-box{
    position: relative;
}
.input-box> input{
    position: relative;
    width: 178px;
    height: 26px;
    outline: none;
    border: 2px solid;
    border-color:transparent transparent rgba(19,83,128,0.70) transparent ;
    font-size:15px !important;
    font-family: "Microsoft YaHei";
    padding: 0px 2px;
    color:rgba(0,0,0,0.85);
    z-index:10;
}
.input-box label{
    position: absolute;
    left: 34px;
    font-size: 10px;
    bottom: 5px;
    opacity: 0;
    z-index:1;
}

@keyframes bounce-up {
    from{
        opacity: 1;
        z-index:11;
        transform: translate(0px,0px);
    }
    to{
        opacity: 1;
        z-index:11;
        transform:translate(-34px,-25px);
    }
}
@-webkit-keyframes bounce-up {
    from{
        opacity: 1;
        z-index:11;
        -webkit-transform: translate(0px,0px);
    }
    to{
        opacity: 1;
        z-index:11;
        -webkit-transform:translate(-34px,-25px);
    }
 }
@-moz-keyframes bounce-up {
    from{
        opacity: 1;
        z-index:11;
        -moz-transform: translate(0px,0px);
    }
    to{
        opacity: 1;
        z-index:11;
        -moz-transform:translate(-34px,-25px);
    }
}
@-o-keyframes bounce-up {
    from{
        opacity: 1;
        z-index:11;
        -o-transform: translate(0px,0px);
    }
    to{
        opacity: 1;
        z-index:11;
        -o-transform:translate(-34px,-25px);
    }
 }
@-ms-keyframes bounce-up {
    from{
        opacity: 1;
        z-index:11;
        -ms-transform: translate(0px,0px);
    }
    to{
        opacity: 1;
        z-index:11;
        -ms-transform:translate(-34px,-25px);
    }
 }

@keyframes bounce-down {
    0%{
        opacity: 1;
        z-index:11;
        transform: translate(-34px,-25px);
    }
    50%{
        opacity: 0;
        z-index:11;
        transform: translate(-17px,-15px);
    }
    100%{
        opacity: 0;
        z-index:1;
        transform: translate(0px,0px);
    }
}

@-webkit-keyframes bounce-down {
    0%{
        opacity: 1;
        z-index:11;
        -webkit-transform: translate(-34px,-25px);
    }
    50%{
        opacity: 0;
        z-index:11;
        -webkit-transform: translate(-17px,-15px);
    }
    100%{
        opacity: 0;
        z-index:1;
        -webkit-transform: translate(0px,0px);
    }
 }
@-moz-keyframes bounce-down {
    0%{
        opacity: 1;
        z-index:11;
        -moz-transform: translate(-34px,-25px);
    }
    50%{
        opacity: 0;
        z-index:11;
        -moz-transform: translate(-17px,-15px);
    }
    100%{
        opacity: 0;
        z-index:1;
        -moz-transform: translate(0px,0px);
    }
 }
@-ms-keyframes bounce-down {
    0%{
        opacity: 1;
        z-index:11;
        -ms-transform: translate(-34px,-25px);
    }
    50%{
        opacity: 0;
        z-index:11;
        -ms-transform: translate(-17px,-15px);
    }
    100%{
        opacity: 0;
        z-index:1;
        -ms-transform: translate(0px,0px);
    }
 }
@-o-keyframes bounce-down {
    0%{
        opacity: 1;
        z-index:11;
        -o-transform: translate(-34px,-25px);
    }
    50%{
        opacity: 0;
        z-index:11;
        -o-transform: translate(-17px,-15px);
    }
    100%{
        opacity: 0;
        z-index:1;
        -o-transform: translate(0px,0px);
    }
 }

input::-webkit-input-placeholder{
    color: rgba(0,0,0,0.35);
}
input:-moz-placeholder{
    color: rgba(0,0,0,0.35);
}
input:-ms-input-placeholder{
    color: rgba(0,0,0,0.35);
}
input:focus::-webkit-input-placeholder{
    color:#fff;
}
input:focus::-moz-placeholder{
    color:#fff;
}
input:focus::-ms-input-placeholder{
    color: rgba(0,0,0,0.35);
}
/*module btn*/
.button{
    width: 56px;
    height: 30px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    outline: none;
}
.button-small{
    width: 46px;
    height: 21px;
    font-size: 12px;
    border: none;
    outline: none;
}
.button-primary{
    background:#135480;
    box-shadow:0px 1px 4px 0px rgba(0,0,0,0.50);
    border-radius:2px;
    color: #fff;
}
.button-grey{
    background:#ffffff;
    box-shadow:0px 1px 4px 0px rgba(0,0,0,0.50);
    border-radius:2px;
    color: #135480;
}
/*module checkbox*/
input[type="checkbox"]{
   visibility: hidden;
}
.checkbox{
    width: 282px;
    position: relative;
}
.checkbox label{
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 0;
    background: #fff;
    border:2px solid #135480;
    border-radius: 2px;
}
.checkbox label:after {
    opacity: 0;
    position: absolute;
    content: '';
    width: 10px;
    height: 3px;
    border: 2px solid;
    left: 1px;
    top: 1px;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.checkbox label:hover::after{
    opacity: 0.5;
}
.checkbox input[type="checkbox"]:checked+label::after{
    opacity:1;
}

.checkbox input[type="checkbox"]:checked+label{
  background-color: #135480;
}
.checkbox span{
    font-size: 15px;
    color: rgba(0,0,0,0.60);
}

/*module select*/
select{
    width: 172px;
    height: 30px;
    border:2px solid;
    border-color: transparent transparent #135480 transparent;
    /*清除默认样式*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("../images/drow-grey.png") no-repeat scroll right center transparent;;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
    outline: none;
}
select::-ms-expand { display: none; }

/*module table*/
.table-container{
    width: 820px;
    border-radius: 3px ;
    box-shadow:0px 2px 6px 0px rgba(0,0,0,0.40);
    background-color: #fff;
}
.table-header{
    font-size:17px;
    background-color: #135480;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.25);
}
.table-header th{
    color: #fff;
    font-weight: 500;
    padding: 8px 16px !important;
}
.table-header th:first-of-type{
    border-radius: 3px 0px 0px 0px;
}
.table-header th:last-of-type{
    border-radius: 0px 3px 0px 0px ;
}
.table>tbody>tr>td{
    font-size: 15px;
    color: #000;
    padding: 8px 16px;
}
.table{
    margin-bottom: 0px !important;
}