/*商品品类管理*/
.tab-brand-box{
    width: 820px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.tab-contanier-middle{
    line-height:52px;
    padding-top: 29px;
    margin-bottom: 40px;
    width: 282px;

}
.tab-contanier-middle>div.input-box> input{
    width:100%;
}
.tab-contanier-middle-column{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
span.brand-logo{
    font-size: 15px;
    color: rgba(0,0,0,0.60);
}

/*广告位置/添加广告位置*/
.tab-ad-pos-box{
    width: 820px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:36px 0px 28px 0px;
}
.tab-ad-pos-box .input-box{
    margin-bottom: 27px;
}
.tab-ad-pos-box .input-box>input{
    width:282px;
}
.tab-btn-row{
    display: flex;
    justify-content: space-between;
    width: 282px;
}