/*商品品类管理*/
.tab-brand-box{
    width: 820px;
    height:290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:36px 0px 26px 0px;
}
.tab-brand-box .input-box>input{
    width:278px;
}
.tab-brand-row{
    margin-bottom:27px;
}
.tab-contanier-middle-column{
    width:282px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
span.brand-logo{
    font-size: 15px;
    color: rgba(0,0,0,0.60);
}

/*广告位置/添加广告位置*/
.tab-ad-pos-box{
    width: 820px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:36px 0px 28px 0px;
}
.tab-ad-pos-box .input-box{
    margin-bottom: 27px;
}
.tab-ad-pos-box .input-box>input{
    width:282px;
}
.tab-btn-row{
    display: flex;
    justify-content: space-between;
    width: 282px;
}

/*商品品类管理*/
.tab-category-box{
    width: 820px;
    height:230px;
    display: flex;
    padding: 36px 0px 28px 0px;
    flex-direction: column;
    align-items: center;
}
.tab-category-row{
    margin-bottom:27px;
    width:172px;
}
.tab-category-row .input-box input{
    width:165px;
}
.tab-category-row .checkbox{
    width: 172px;
}
.tab-category-btn-row{
    display: flex;
    justify-content: space-between;
    width:172px;
}